@font-face {
    font-family: 'NipDo505';
    src: url('font/NipDo-wt505.woff2') format('woff2'),
    url('font/NipDo-wt505.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NipDo580';
    src: url('font/NipDo-wt580.woff2') format('woff2'),
    url('font/NipDo-wt580.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body{
    padding:0 0;
    margin:0 0;
    background-color:#AAF9D9;
    color:#5000FF;
    font-family: "NipDo505", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

div{
    background-color:#AAF9D9;
}

h2{
    font-family: "NipDo580", sans-serif;
    text-align:left;
    margin:2vh 2vw;
}

p{
    font-family: "NipDo505", sans-serif;
    font-size:2.5rem;
}

.bordered{
    border:3px solid #5000FF;
    border-top-width:30px;
    box-shadow: 7px 7px #5000FF;
}

.bluebg{
    background-color:#5000FF;
    color:#AAF9D9;
    padding:0 0.1rem;
    font-size:3rem;
}

.delete_circle::before{
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #FF0000;
    border:1px solid #5000FF;
    margin:0.8rem 0.5rem 0 0;
}

.submit_circle::before{
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: #19FF00;
    border:1px solid #5000FF;
    margin:0.8rem 0.5rem 0 0;
}

#welcome, #video_intro_div, #video_enchante_div, #video_outro_div{
    width:80vw;
    height:85vh;
    margin: 5vh auto;
}

#welcome{
    z-index:1;
}

#welcome img{
    max-width:70vw;
    max-height:70vh;
    margin:15vh auto;
}

#press_start{
    width:75vw;
    z-index:2;
    position:absolute;
    top:40vh;
    left:7vw;
}

#video_intro_div{
    z-index:3;
    position:absolute;
    top:0;
    left:10vw;
}

#video_intro_div video, #video_enchante_div video, #video_outro_div video{
    max-width:70vw;
    max-height:70vh;
    margin:0 auto;
    border:3px solid #5000FF;
}

#init_form{
    z-index:4;
    position:absolute;
    top:35vh;
    left:8vw;
    padding:1vh 1vw;
    min-width:70vw;
}

input{
    display:block;
    font-family: "NipDo505", sans-serif;
    text-transform: uppercase;
    font-size:2.5rem;
    padding: 0 0.1rem;
    margin: 0.8vh auto;
    border:2px solid #5000FF;
    color:#5000FF;
    background-color:#AAF9D9;
    width:80%;
}

#video_enchante_div{
    z-index:5;
    position:absolute;
    top:0;
    left:9vw;
}


#song_mood_div{
    z-index:6;
    position:absolute;
    top:12vh;
    left:8vw;
    max-width:80vw;
}

#song_mood_div img, #song_style_div img, #song_tempo_div img{
    display:inline-block;
    width:45%;
    margin: 1vh 0.5vw;
    border:3px solid #5000FF;
}

#song_style_div{
    z-index:7;
    position:absolute;
    top:13vh;
    left:9vw;
    max-width:80vw;
}

#song_tempo_div{
    z-index:8;
    position:absolute;
    top:14vh;
    left:10vw;
    max-width:80vw;
}

#song_title_div{
    z-index:9;
    position:absolute;
    top:20vh;
    left:8vw;
    max-width:80vw;
    min-width:70vw;
}

.title_init{
    display:block;
    font-family: "NipDo505", sans-serif;
    font-size:2.5rem;
}

#video_outro_div{
    z-index: 10;
    position:absolute;
    top:0;
    left:10vw;
}

#last_screen{
    width:80vw;
    height:90vh;
    margin:5vh auto;
}

#last_screen img{
    display:block;
    width:85%;
    margin: 6vh auto;
}

#last_screen .section_title{
    font-family: "NipDo505", sans-serif;
    font-size:1.5rem;
    margin:1vh 1vw;
}

#last_screen p{
    margin:1vh 4vw;
    font-size:3rem;
}

#last_screen .big_number{
    font-size:8rem;
    font-family: "NipDo580", sans-serif;
}

